/* ==========================================================================
                           Global Styles
   ==========================================================================
 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* font family */
  --primary-font: "Josefin Sans", sans-serif;

  /* font size */
  --fz-regular: 1rem;
  --fz-primary: 0.875;
  --fz-secondary: 0.75rem;

  /* font weight */
  --fw-400: 400;
  --fw-700: 700;

  /* primary color */
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(120, 76%, 61%);
  --red: hsl(0, 65%, 47%);

  /* light theme color */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* dark theme color */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --dark-grayish-blue-dark-theme: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-dark-theme: hsl(233, 14%, 35%);

  /* notification container width */
  --contaier-width: 400px;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  width: 100%;
  background-color: var(--very-dark-blue);
  position: relative;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* ==========================================================================
                           Utility Classes
    ========================================================================== */

.container {
  width: 100%;
  max-width: 370px;
  padding: 3rem 1rem;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* media query */

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 3rem 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 540px;
    padding: 3rem;
  }
}

/* ==========================================================================
                           header
    ========================================================================= */

header {
  width: 100%;

  background: url(/images/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
}

.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title h1 {
  color: var(--white);
  letter-spacing: 3px;
}

.todo-form {
  display: flex;
  flex-grow: 1;
  margin-top: 2rem;
}

.todo-input {
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  color: var(--light-grayish-blue);
  padding-block: 1.2rem;
  padding-inline-start: 12px;
  border: none;
  border-radius: 5px;
}

.todo-form ::placeholder {
  padding-inline-start: 12px;
  font-size: var(--fz-secondary);
  letter-spacing: 2px;
  color: var(--light-grayish-blue);
}

/* media query */

@media screen and (min-width: 700px) {
  .header {
    background: url(/images/bg-desktop-dark.jpg);
    background-position: 100% 100%;
    max-height: 230px;
  }
}

/* ==========================================================================
                           main
    ========================================================================= */

main {
  color: var(--light-grayish-blue);
  height: 100%;
}

.todo-lists-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* todo-lists */
.todo-lists {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--very-dark-grayish-blue-dark-theme);
  background-color: var(--very-dark-desaturated-blue);
  padding-block: 1.2rem;
  border-radius: 5px;
}

.todo-lists:first-child {
  margin-block-start: -4.3rem;
}

/* if todo list is empty */
.todo-lists > p {
  width: 100%;
  text-align: center;
  font-size: var(--fz-regular);
  letter-spacing: 1px;
}

/* if there is todos in the list */

.todo-lists .todo-text {
  flex: 1;
  font-size: var(--fz-primary);
  padding-inline-start: 4px;
  cursor: pointer;
}

.todo-text.checked {
  text-decoration: line-through;
  color: var(--white);
}

.check-mark {
  width: 22px;
  height: 22px;
  border: 2px solid var(--dark-grayish-blue-dark-theme);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 8px;
  cursor: pointer;
}

.check-mark.checked {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.todo-lists .check-mark img {
  width: 12px;
  height: 12px;
  pointer-events: none;
}

.todo-options {
  padding-inline-end: 10px;
  cursor: pointer;
}

.todo-options .edit i {
  color: var(--green);
}

.todo-options .delete i {
  color: var(--red);
}

/* todo-summary */

.todo-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-dark-desaturated-blue);
  padding-block: 1rem;
  padding-inline: 10px;
  border-radius: 5px;
  /* border-top: 1px solid var(--very-dark-blue); */
}

.todo-summary p {
  font-size: var(--fz-secondary);
  color: var(--very-dark-grayish-blue);
}

.todo-summary .clear-completed {
  color: var(--very-dark-grayish-blue);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.todo-summary .clear-completed:hover {
  color: var(--very-light-gray);
  transition: color 0.3s ease-in-out;
}

/* todo-filters */

.todo-filters {
  position: relative;
}

.fixed {
  display: flex;
  justify-content: center;
  gap: 0.875rem;
  background-color: var(--very-dark-desaturated-blue);
  margin-block: 1rem;
  padding-block: 1rem;
  border-radius: 5px;
}

.todo-filters button {
  color: var(--very-dark-grayish-blue);
  letter-spacing: 1px;
}

.todo-filters .active {
  color: var(--bright-blue);
}

.todo-filters button:hover {
  color: var(--very-light-gray);
  transition: color 0.3s ease-in-out;
}

/* show notification */
.notification {
  position: absolute;
  width: calc(3 * var(--contaier-width) / 4);
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 6px;
  background-color: var(--very-dark-blue);
  top: 10px;
  right: calc(-3 * var(--contaier-width) / 4);
  color: var(--very-light-gray);
  transition: 300ms right ease-in-out;
}
.notify-enter {
  right: 10px;
}

/* media query */
@media screen and (min-width: 540px) {
  .fixed {
    position: absolute;
    top: -47px;
    left: 8px;
    right: 40px;
    bottom: 40px;
    padding: 0;
  }
}

/* ==========================================================================
                           footer
    ========================================================================= */

footer {
  padding-block-end: 1rem;
}

footer p {
  color: var(--very-light-gray);
  font-size: var(--fz-secondary);
  text-align: center;
}

/* media query */
@media screen and (min-width: 700px) {
  footer p {
    font-size: var(--fz-regular);
  }
}
